doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css')
    script.
        $(document).ready(function(){
            var map = L.map('map').setView([47.3, -120], 7);
            L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
            id: 'examples.map-20v6611k'
        }).addTo(map);
        })
  body
    block content
    #map(style='height: 500px;')
    p Some hikes from LAYOUT.jade..
    ul#books
      for hike in hikes
        li#books= hike
        - var fn = function() {return hike.geometry.coordinates}
        <!-- How can we add the hikes in this list as Leaflet points in the map below, or better yet, the map above??-->
        p #{fn()}
        script.
          $(document).ready(function(){
              var map2 = L.map('map2').setView([47.3, -120], 7);
              L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
              attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
              id: 'examples.map-20v6611k'
          }).addTo(map2);
          var hikeJS = document.getElementById("books").getElementsByTagName("li")[0].innerHTML;
          console.log(hikeJS);
          var hikeJS2 = hikeJS.replace(/_/, '');
          console.log(typeof(hikeJS2));
          //console.log(hikeJS2);
          var hikeJS3 = JSON.stringify(hikeJS2);
          var hikeJS4 = JSON.parse(hikeJS3);
          //console.dir(hikeJS4);
          //console.log(hikeJS4.id);
          var hikeJS5 = new Object(hikeJS4);
          console.dir(hikeJS5);
          return map2;
          })
        script.
          var display = function(map2) {
            console.log(map2);
            map2.setView([20.3, -120], 7);
          }
          display(map2);

    #map2(style='height: 300px;')

    .classOne
    p Does this class work?
    
    